<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_normal0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,250}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>eff_normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,254},{200,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,248}}</string>
                <key>sourceSize</key>
                <string>{200,248}</string>
            </dict>
            <key>eff_normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{186,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,250}}</string>
                <key>sourceSize</key>
                <string>{186,250}</string>
            </dict>
            <key>eff_normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{185,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,190}}</string>
                <key>sourceSize</key>
                <string>{185,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_normal.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b098840ffedf0af62bb67eea08cd6aa:1/1$</string>
            <key>textureFileName</key>
            <string>eff_normal.pvr.ccz</string>
        </dict>
    </dict>
</plist>
