<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_hit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{173,166}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{173,166}}</string>
                <key>sourceSize</key>
                <string>{183,180}</string>
            </dict>
            <key>eff_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,368},{169,130}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{169,130}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>eff_hit10.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{219,114}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{219,114}}</string>
                <key>sourceSize</key>
                <string>{237,122}</string>
            </dict>
            <key>eff_hit11.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,443},{192,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{192,64}}</string>
                <key>sourceSize</key>
                <string>{204,70}</string>
            </dict>
            <key>eff_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,241}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{167,241}}</string>
                <key>sourceSize</key>
                <string>{177,255}</string>
            </dict>
            <key>eff_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,216},{151,194}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{151,194}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>eff_hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{233,187}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{233,187}}</string>
                <key>sourceSize</key>
                <string>{239,199}</string>
            </dict>
            <key>eff_hit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{212,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{212,128}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>eff_hit6.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,223},{218,115}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{218,115}}</string>
                <key>sourceSize</key>
                <string>{232,127}</string>
            </dict>
            <key>eff_hit7.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{183,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{183,68}}</string>
                <key>sourceSize</key>
                <string>{185,72}</string>
            </dict>
            <key>eff_hit8.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,187},{179,177}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{179,177}}</string>
                <key>sourceSize</key>
                <string>{193,189}</string>
            </dict>
            <key>eff_hit9.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,177},{158,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{158,164}}</string>
                <key>sourceSize</key>
                <string>{162,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_hitdodge.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57ebff38e5e0155ec88db0d12fdc66b9:1/1$</string>
            <key>textureFileName</key>
            <string>eff_hitdodge.pvr.ccz</string>
        </dict>
    </dict>
</plist>
