<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xn_l_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>xn_l_but_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,338},{168,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,170}}</string>
                <key>sourceSize</key>
                <string>{168,170}</string>
            </dict>
            <key>xn_l_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,496}}</string>
                <key>sourceSize</key>
                <string>{494,496}</string>
            </dict>
            <key>xn_l_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,288},{119,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,41}}</string>
                <key>sourceSize</key>
                <string>{119,41}</string>
            </dict>
            <key>xn_l_icon_dhj.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,288},{64,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{64,46}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>xn_l_icon_dj.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,128},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>xn_l_icon_dyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>xn_l_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,62},{72,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,50}}</string>
                <key>sourceSize</key>
                <string>{72,50}</string>
            </dict>
            <key>xn_l_icon_hb.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,114},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>xn_l_icon_hf.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,72},{70,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>xn_l_modify_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{334,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{334,80}}</string>
                <key>sourceSize</key>
                <string>{338,80}</string>
            </dict>
            <key>xn_l_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,332},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xn_l_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{174,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,284}}</string>
                <key>sourceSize</key>
                <string>{174,284}</string>
            </dict>
            <key>xn_l_txt_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,288},{96,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,42}}</string>
                <key>sourceSize</key>
                <string>{96,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>x_lottery.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccc47887308180e1958add22979441c7:1/1$</string>
            <key>textureFileName</key>
            <string>x_lottery.pvr.ccz</string>
        </dict>
    </dict>
</plist>
