<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,312},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,312},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,250},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,250},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,188},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,188},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,258},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,188},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,126},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,126},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,126},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,64},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,64},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,64},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,422},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,352},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,282},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,212},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,142},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,72},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,422},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,352},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,282},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,212},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,142},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,72},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,422},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,352},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,282},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>l_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,328},{67,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>r_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,212},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,142},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,72},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,422},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,352},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,282},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,212},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,142},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,72},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,422},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,352},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,282},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,212},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,142},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,72},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,422},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,352},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,282},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,212},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,142},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,72},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,352},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,435},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,365},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,295},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,225},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,155},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,85},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,417},{68,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>r_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,328},{67,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>t_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,334},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,251},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,168},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,85},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,417},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,334},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,251},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,168},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,85},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,417},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,334},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,251},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,168},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,85},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,417},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,334},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,251},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,168},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,85},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,418},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,335},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,252},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,169},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,86},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{59,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>t_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>x_mahjongs_ex.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f637d86e02445f1e4445a70c8e512da:1/1$</string>
            <key>textureFileName</key>
            <string>x_mahjongs_ex.pvr.ccz</string>
        </dict>
    </dict>
</plist>
