<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_ico_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{39,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,90}}</string>
                <key>sourceSize</key>
                <string>{39,90}</string>
            </dict>
            <key>ddz_ico_nm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,90}}</string>
                <key>sourceSize</key>
                <string>{39,90}</string>
            </dict>
            <key>ddz_modify_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>x_game_ddz.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7405024f8228b448d90d45eb9c834980:1/1$</string>
            <key>textureFileName</key>
            <string>x_game_ddz.pvr.ccz</string>
        </dict>
    </dict>
</plist>
