<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_lightball0.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{109,108}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>eff_lightball1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,113},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{109,108}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>eff_lightball2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{109,108}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>eff_lightball3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,113},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{109,108}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>eff_lightball4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{109,108}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>eff_lightball5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{109,108}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>eff_lightball6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{109,108}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>eff_lightball7.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,112},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{109,108}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_lightball.pvr.ccz</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d4626895e4fd500d95729aee94e236f$</string>
            <key>textureFileName</key>
            <string>eff_lightball.pvr.ccz</string>
        </dict>
    </dict>
</plist>
