<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_boom_gang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{162,234}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{162,234}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ef_boom_gang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,214},{188,112}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,115},{188,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ef_boom_gang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,328},{160,94}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,123},{160,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ef_boom_gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{200,240}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{200,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ef_boom_gang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{212,240}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{212,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ef_boom_gang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,244},{202,240}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{202,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ef_boom_gang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{206,240}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{206,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ef_boom_gang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,240}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{212,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ef_boom_gang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,244},{196,240}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{196,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ef_boom_gang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,244},{200,240}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{200,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ef_boom_gang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{210,228}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{210,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_boom_gang.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e38c695014d525114afe6e2e3244b408:1/1$</string>
            <key>textureFileName</key>
            <string>eff_boom_gang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
