<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xn_newyear_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{60,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,96}}</string>
                <key>sourceSize</key>
                <string>{60,96}</string>
            </dict>
            <key>xn_newyear_bp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,146}}</string>
                <key>sourceSize</key>
                <string>{70,146}</string>
            </dict>
            <key>xn_newyear_dl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>xn_newyear_effz.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,66},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>xn_newyear_mz.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,100},{92,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,48}}</string>
                <key>sourceSize</key>
                <string>{92,48}</string>
            </dict>
            <key>xn_newyear_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>x_newyear.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc48b8d7d33f1bd98745b2c267fb31da:1/1$</string>
            <key>textureFileName</key>
            <string>x_newyear.pvr.ccz</string>
        </dict>
    </dict>
</plist>
