<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>x_but_mahjong.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,31},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>x_frame_mahjong_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,27}}</string>
                <key>sourceSize</key>
                <string>{432,27}</string>
            </dict>
            <key>x_ico_zhuanpan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,257},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>x_ico_zhuanpan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{139,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,160}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>x_mj_vec0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,171},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>x_mj_vec1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,197},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>x_mj_vec2.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,201},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>x_mj_vec3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,172},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>x_txt_chipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{67,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,32}}</string>
                <key>sourceSize</key>
                <string>{67,32}</string>
            </dict>
            <key>x_txt_g_gangshua.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,227},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>x_txt_g_paofeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,147},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,38}</string>
            </dict>
            <key>x_txt_mahjoing_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,143},{96,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,56}}</string>
                <key>sourceSize</key>
                <string>{96,56}</string>
            </dict>
            <key>x_txt_mahjong_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,201},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>x_txt_mahjong_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,211},{60,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>x_txt_mahjong_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,201},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>x_txt_mahjong_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,147},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>x_txt_mahjong_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,172},{60,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>x_txt_mahjong_hh.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,201},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>x_txt_mahjong_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,137},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>x_txt_mahjong_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,195},{62,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>x_txt_mahjong_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,89},{96,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,56}}</string>
                <key>sourceSize</key>
                <string>{96,56}</string>
            </dict>
            <key>x_txt_mahjong_piao.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,131},{62,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>x_txt_mahjong_qz.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,31},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>x_txt_mahjong_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>x_txt_mahjong_tk.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,31},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>x_txt_mahjong_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,36},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>x_txt_tingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,102},{63,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,33}}</string>
                <key>sourceSize</key>
                <string>{67,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>x_game_mahjong.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a7d6da6811ab3b2f19cfbb490c5dce2:1/1$</string>
            <key>textureFileName</key>
            <string>x_game_mahjong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
